.projectmenucontainer{
    /*border: solid 2px purple;*/
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 30px;
    width: 70%;
    min-width: 15rem;
    height: fit-content;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
}
.projectinfo{
    /*border: blue 2px solid;*/
}
.title{
    /*border: red 2px solid;*/
    width: 100%;
    padding-top: 0.5rem;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 0.5rem;
    color:rgb(165, 97, 255);
    border-bottom: solid 1px rgb(193, 193, 193);
   
}
.paragraph{
    /*border: red 2px solid;*/
    padding-top: 1rem;
    display: flex;
    align-items: center;
    min-width: 15rem;
    /*width: fit-content;*/
    height: fit-content;
    font-size: medium;
}
.image{
    /*border: blue 2px solid;*/
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content
}
svg{ 
    fill:black;
    fill:rgb(165, 97, 255);
    fill:rgb(97, 255, 97);
    height: 80px;
    padding: 0.5rem;
}
/*mobile*/
@media only screen and (max-width: 820px) {
    .projectmenucontainer{
        width: 75%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
    .projectinfo{
        /*border: red 2px solid;*/
        width: 95%;  
    }
    .title{
        text-align: start;  
        padding: 0;
        font-size: large;
    }
    .paragraph{
        /*border: red 2px solid;*/
        width: 100%;
        height: fit-content;  
        text-align: start;  
        font-size: small;
    }
    .image{
        /*border: red 2px solid;*/
        width: 20%;
        padding-left: 0.5rem;
    }
    .image svg{
        width: 70px;
    }

}