/*** desktop ***/
@media only screen and (min-width: 821px) {
/* menu taskbar */
.menucontainer{
    /*border: 2px solid blue;*/
    height: 100%;
    background-color: rgb(97, 255, 97);
    margin:0;
    padding: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* menu options */
.menuoptions{
    /*border: 2px solid red;*/
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.optionscontainer{
    /*border: 2px solid blue;*/
    min-width: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /*transition: 0.5s;*/
}
.menuoptions svg{
    fill: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}
.menuoptions h1{
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: large;
    text-decoration: none;
    color: white;
    display: inline-block;

    font-size: x-large;
}
.optionscontainer:hover{
    background-color: rgb(152, 253, 153);
    /*padding-top: 0.5rem;
    padding:0.5rem;*/
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}
.active{
    background-color: rgb(152, 253, 153);
    width: 100%;
    border-radius: 15px;
}


}
/*** mobile ***/
@media only screen and (max-width: 820px) {
    .menucontainer{  
        height: 100%;
        background-color: rgb(97, 255, 97);
        fill:white;
        margin:0;
        padding: 0;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*border: 2px solid blue;*/
    }
    .menuoptions{
        /*border: 2px solid red;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        display: flex;
        flex-direction: row;
        padding: 0rem;
    }
    .submenuoptions{
        /*border: 2px solid purple;*/
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;      
    }
    .optionscontainer{
        /*border: 2px solid purple;*/
        min-width: fit-content;
        width: 25%;
        height: 3.5rem;
        display: flex;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        /*margin: 0.5rem;   */
    }
    .menuoptions svg{
        fill:white;
        width: 2.5rem;
        height: 2.5rem;
        /*transition: 0.5s;*/
    }
    /*.menuoptions svg:hover{*/
    .optionscontainer:hover{
        display: flex;
        justify-content: center;
        background-color: rgb(152, 253, 153);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .menuoptions h1{
        display: none;     
    }
    .active{
        background-color: rgb(152, 253, 153);
        width: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}