/*** desktop ***/
/* menu taskbar */
.menucontainer{
    height: 100%;
    background-color: rgb(97, 255, 97);
    margin:0;
    padding: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 2px solid blue;*/
}
/* menu options */
.menuoptions{
    /*border: 2px solid red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionscontainer{
    /*border: 2px solid purple;*/
    min-width: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-top: 1rem;
}
.menuoptions svg{
    fill: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}
.menuoptions h1{
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: large;
    text-decoration: none;
    color: white;
    display: inline-block;
}
/*** mobile ***/
@media only screen and (max-width: 820px) {
    .menucontainer{   
        display: flex;
        align-items: center;
        /*border: 2px solid blue;*/
    }
    .menuoptions{
        /*border: 2px solid red;*/
        display: flex;
        flex-direction: row;
        padding: 0rem;
    }
    .submenuoptions{
        /*border: 2px solid purple;*/
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .optionscontainer{
        /*border: 2px solid purple;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .menuoptions svg, .menuoptions h1{
        padding: 0;
    }
    .menuoptions h1{
        display: none;
    }

}