.menu{
    width: 100%;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    /*border: solid green 2px;*/
}
.options{
    /*border: solid red 2px;*/
    min-width: 45%;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;   
}
.options link{
    text-decoration: underline;
    color: white; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.options a{
    color: white;
}
.options a:visited{
    text-decoration: underline;
    color: white;
}
.options a:hover{
    text-decoration: underline;
    color: rgb(23, 93, 223);
}
.name{
    /*border: solid blue 2px;*/
    font-size: 2rem;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name{
        /*background-color: rgb(23, 93, 223);*/
        color: rgb(23, 93, 223);
        font-weight: bold;
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }
    .options {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: small;
    }
}