.sliderContainer {
  /*border: solid 2px red;*/
}
.slider {
    /*border: solid 2px purple;*/
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
  
.image {
    margin: 1rem;
    width: 45%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rightArrow, .leftArrow {
    font-size: 2rem;
    color: #000;
    color: greenyellow;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;

  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .ArrowsDesktop{
    display: block;
    font-size: 2rem;
    /*border: solid 2px purple;*/
  }

  .ArrowsMobile{
    display: none;
  }
    

  /*** mobile ***/
@media only screen and (max-width: 820px) {

  .sliderContainer {
    display: flex;
    flex-direction: column;
  }

  .image{
    width: 55%;
    min-width: 200px;
  }

  .ArrowsDesktop{
    display: none;
  }

  .ArrowsMobile{
    display: flex;
    justify-content: center;
  }

}