.slider {
    /*border: solid 2px red;*/
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
  
  .image {
    /*border: solid 2px red;*/
    margin: 1rem;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .rightArrow, .leftArrow {
    /*border: solid 2px red;*/
    font-size: 3rem;
    color: #000;
    color: greenyellow;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

/*** mobile ***/
@media only screen and (max-width: 820px) {
  .image {
    width: 40%;
    min-width: 200px;
  }
}

