/* Source: https://www.freecodecamp.org/news/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row*/
@import-normalize;

body{  
    font-family: "Roboto Mono", monospace;
    margin:0; 
}
/* website container (left + right panel) */
.container{
    display: grid;  
    grid-template-columns: 1fr 7fr;  
    grid-template-rows: 100vh; 
}
/* menu task bar */
.menulayout{
    background-color: blue;
}
/* website pages */
.pageslayout{
    background-color: red;
}


/*mobile*/
@media only screen and (max-width: 820px) {
    /* website container (left + right panel) */
    .container{
        display: grid;
        /*height: 200px;*/
        height: 100vh;
        /*grid-template-columns: 200px;*/
        grid-template-rows: repeat(9, 1fr);
    }
    /* menu task bar */
    .menulayout{
        background-color: blue;
        grid-column: 1/9;
        grid-row: 1/9;
        min-height: 3rem;
    }
    /* website pages */
    .pageslayout{
        background-color: red;
        grid-column: 1/9;
        grid-row: 2/10;
    }
}