/* Source: https://www.freecodecamp.org/news/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row*/
@import-normalize;

body{  
    font-family: "Roboto Mono", monospace;
    margin:0; 
}
/* website container (left + right panel) */
.container{
    display: grid;  
    grid-template-columns: 1fr 7fr;  
    grid-template-rows: 100vh; 
}
/* menu task bar */
.menulayout{
    /*background-color: blue;*/
}
/* website pages */
.pageslayout{
    /*border: solid 2px red;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* skills container */
.skillscontainer{
    /*border: solid 2px blue;*/
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/* portfolio container */
.portfoliocontainer{
    /*border: solid 2px rgb(75, 0, 128);*/
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-content: flex-start;
}
.projectscontainer{
    /*border: solid 2px blue;*/
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    align-content: center;
}
.projectscontainer a{
    /*border: solid 2px red;*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.projectscontainer a:hover{
    text-decoration: none;
    background-color:rgb(165, 97, 255);
    background-color: rgb(229, 229, 229);
    border-radius: 15px;
    color: white;   
}
.subcontainer{
    /*border: solid 2px red;*/
    padding: 1rem;
    display: flex;
    width: 75%;
    padding: none;
    margin: 0;
}
.githubdiv{
    /*border: solid 2px red;*/
    width: 100%;
    height: fit-content;
    padding: 1rem;
    /*padding-top: 2rem;*/
    text-align: center;
    font-size: large;
}
.githubdiv a{
    text-decoration: none;
    color: greenyellow;
    font-weight: bold;
}
.githubdiv a:hover{
    text-decoration: underline;
    color:rgb(165, 97, 255);
}
/* project pages */
.projectcontainer{
    /*border: solid 2px red;*/
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 85%;
    height: 85%;
    margin: 1rem;
    padding: 1rem;
    /*to delete*/
    width: 55rem;
}
.projectcontainer div{
    /*border: solid 2px red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backlink a{
    padding: 1rem;
    /*border: solid 2px red;*/
    /*width: 95%;*/
    color: greenyellow;
    text-decoration: none;
}
.backlink a:hover{
    color:rgb(165, 97, 255);
    text-decoration: underline;
}

/*mobile*/
@media only screen and (max-width: 820px) {
    /* website container (left + right panel) */
    .container{
        display: grid;
        /*height: 200px;*/
        height: 100vh;
        /*grid-template-columns: 200px;*/
        grid-template-rows: repeat(9, 1fr);
    }
    /* menu task bar */
    .menulayout{
        /*background-color: blue;*/
        grid-column: 1/9;
        grid-row: 1/2;
        min-height: 3rem;
    }
    /* website pages */
    .pageslayout{
        /*background-color: red;*/
        grid-column: 1/9;
        grid-row: 2/10;
    }
}