@import-normalize;

body{  
    font-family: "Roboto Mono", monospace;
    /*** website view point container ***/
    height: 99vh;
    width: 100vh;
    margin:0; 
}
/* whole view pint (left + right panel) */
.maincontainer{
    display: flex;
    flex-direction: row;
    width: 203vh;
    height: 100vh;
    /*border: 2px solid blue;*/
}
/* left panel = menu task bar */
.leftpanel{
    /*border: 2px solid red;*/
    height: 100%;
}
/* right panel = rest of the website section */
.rightpanel{
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
}


/*mobile/responsive*/
@media only screen and (max-width: 820px) {
    
}